= tabs_tag(builder: MainNavTabBuilder, open_tabs: { id: 'main-nav', class: 'nav-main' }) do |tab|
  = tab.contacts    'Contacts',               contacts_path,                     class: "nav-contacts"
