/ .tabs-container
/ 	%ul.nav.nav-tabs
/ 		%li{ :class => class_for_contact_tab(contact_notes_url(@contact)) }= link_to "Notes", contact_notes_url(@contact)
/ 		%li{ :class => class_for_contact_tab(contact_schedule_url(@contact)) }= link_to "Schedule", contact_schedule_url(@contact)
/ 		%li{ :class => class_for_contact_tab(contact_agreement_url(@contact)) }= link_to "Agreement", contact_agreement_url(@contact)
/ 		%li{ :class => class_for_contact_tab(contact_agenda_url(@contact)) }= link_to "Agenda", contact_agenda_url(@contact)