- title "Contacts"

.content-body.blank-slate
	= image_tag "blank_slate/contacts.png"
	%h1 Contacts
	%p.benefit Satori keeps your client contact info, session notes and communication in one convenient location.
	
	.continue-bar
		= link_to "Add My First Contact", new_contact_path, class: "btn btn-success"