.section-agreements table.list-with-action tr:last-child {
  height: 170px !important; }

.content-body.statement .panel-group .panel-default {
  border-radius: 2px; }
  .content-body.statement .panel-group .panel-default .panel-heading {
    background: #E2E2E2; }
  .content-body.statement .panel-group .panel-default .panel-collapse .panel-body {
    padding: 0; }
    .content-body.statement .panel-group .panel-default .panel-collapse .panel-body table thead {
      background: #F2F2F2;
      text-transform: uppercase;
      border-bottom: 1px solid #E2E2E2; }
    .content-body.statement .panel-group .panel-default .panel-collapse .panel-body table th {
      text-align: left;
      padding: 5px 0px;
      letter-spacing: 1px;
      font-size: 9pt; }
      .content-body.statement .panel-group .panel-default .panel-collapse .panel-body table th:first-child {
        padding: 10px 30px; }
    .content-body.statement .panel-group .panel-default .panel-collapse .panel-body table td {
      padding: 15px 0;
      text-align: left; }
      .content-body.statement .panel-group .panel-default .panel-collapse .panel-body table td:first-child {
        padding: 10px 30px; }
    .content-body.statement .panel-group .panel-default .panel-collapse .panel-body table td.paid-flag {
      width: 100px; }
      .content-body.statement .panel-group .panel-default .panel-collapse .panel-body table td.paid-flag .glyphicon.success {
        color: #82B564;
        font-size: 14pt; }
      .content-body.statement .panel-group .panel-default .panel-collapse .panel-body table td.paid-flag .glyphicon.warning {
        color: #C68C46;
        font-size: 14pt; }

a.collapse-btn.pull-right {
  text-transform: uppercase;
  color: #828282;
  font-size: 9pt;
  position: relative;
  top: 5px;
  letter-spacing: 1px; }

.collapse-btn:not(.collapsed) > span.glyphicon.glyphicon-triangle-right {
  display: none; }

.collapse-btn.collapsed > span.glyphicon.glyphicon-triangle-right {
  display: inline-block; }

.collapse-btn:not(.collapsed) > span.glyphicon.glyphicon-triangle-bottom {
  display: inline-block; }

.collapse-btn.collapsed > span.glyphicon.glyphicon-triangle-bottom {
  display: none; }

a.dropdown-toggle:hover, a.dropdown-toggle:focus {
  color: #4774A7; }
a.dropdown-toggle .glyphicon.action-arrow {
  position: relative;
  top: -3px;
  font-size: 10px;
  right: 1px; }

.agreement-terms {
  padding: 30px;
  background-color: #f0f7fd;
  border-color: #d0e3f0;
  border-left: 5I px solid #eee;
  font-size: 1.2em; }
  .agreement-terms h1 {
    font-size: 2em;
    float: none; }
  .agreement-terms h2 {
    margin-top: 1.5em;
    font-size: 1.3em; }

.no-agreement-terms {
  text-align: center;
  font-size: 18px;
  min-height: 400px; }

#loading-status {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -75px; }
  #loading-status .background {
    border-radius: 6px;
    behavior: url(/PIE.htc);
    position: absolute;
    display: block;
    border: 1px solid black;
    content: ' ';
    background-color: black;
    opacity: 0.8;
    filter: alpha();
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    width: 400px;
    height: 200px; }
  #loading-status .content {
    position: absolute;
    color: white;
    width: 360px;
    height: 200px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px; }
    #loading-status .content p {
      min-height: 60px;
      margin-bottom: 0px;
      line-height: 30px; }
    #loading-status .content .spinner {
      display: inline; }

#offers .wc-nav, #offers .wc-title, #agreements .wc-nav, #agreements .wc-title {
  display: none !important; }
#offers .wc-time, #agreements .wc-time {
  font-size: 16px;
  text-align: center;
  display: block;
  float: none;
  margin: 0;
  margin-top: 5px;
  line-height: 1.5em; }
#offers .ui-corner-all, #agreements .ui-corner-all {
  border-radius: 4px;
  behavior: url(/PIE.htc); }
#offers #event-inspector, #agreements #event-inspector {
  display: none; }
#offers .popover, #agreements .popover {
  width: 320px; }
  #offers .popover .form-actions, #agreements .popover .form-actions {
    margin-left: -14px;
    margin-right: -14px;
    padding-top: 10px;
    padding-bottom: 0; }

input.colour {
  display: none; }

a.miniColors-trigger {
  padding: 0;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -11px; }

.calendar-lists {
  margin-top: 70px; }
  .calendar-lists h2 {
    margin-bottom: 15px; }
  .calendar-lists .btn-new-segment {
    width: 100%; }

.calendars ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px; }
  .calendars ul li {
    line-height: 2em; }
    .calendars ul li a {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 8px !important; }
      .calendars ul li a.calendar-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        padding-right: 40px; }
      .calendars ul li a:hover {
        text-decoration: none;
        background-color: #ededed; }
    .calendars ul li.selected a {
      color: #fff;
      background-color: #5b8bca; }

.calendars.events.sessions ul {
  border-radius: 4px 4px 0 0;
  behavior: url(/PIE.htc);
  margin-bottom: 0 !important;
  border-bottom: none !important; }
  .calendars.events.sessions ul li {
    border-radius: 4px 4px 0 0;
    behavior: url(/PIE.htc); }

.calendars.events.busy {
  border-top: none !important; }
  .calendars.events.busy ul {
    border-radius: 0 0 4px 4px;
    behavior: url(/PIE.htc); }
    .calendars.events.busy ul li {
      border-radius: 0 0 4px 4px;
      behavior: url(/PIE.htc); }

.calendars.segments .delete {
  position: absolute;
  left: -28px;
  top: 50%;
  margin-top: -10px;
  color: #aaa;
  background: transparent;
  cursor: pointer; }

.calendars.segments input[type=checkbox] {
  display: none; }
.calendars.segments .segment-label-editor {
  line-height: 30px; }

.section-offers .calendars.segments input[type=checkbox], .section-agreements .calendars.segments input[type=checkbox] {
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 50%;
  margin-top: -6px; }
.section-offers .calendars.segments .segment-label, .section-agreements .calendars.segments .segment-label {
  padding-left: 28px !important; }
.section-offers .calendars.segments .segment-label-editor, .section-agreements .calendars.segments .segment-label-editor {
  margin-left: 28px !important; }

.questionnaire-questions ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .questionnaire-questions ul li {
    margin: 0;
    padding: 0; }
.questionnaire-questions .index {
  display: inline-block;
  font-weight: bold;
  width: 30px;
  color: #aaa; }

.status.header {
  position: absolute;
  top: 14px;
  right: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  behavior: url(/PIE.htc); }
  .status.header.draft {
    background-color: #accd0c;
    background: #accd0c;
    background: -moz-linear-gradient(top, #c0e50d 0%, #accd0c 75%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c0e50d), color-stop(75%, #accd0c));
    -pie-background: linear-gradient(#c0e50d 0%, #accd0c 75%);
    /*PIE*/
    behavior: url(/PIE.htc); }
  .status.header.pending {
    background-color: #eed700;
    background: #eed700;
    background: -moz-linear-gradient(top, #ffe709 0%, #eed700 75%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe709), color-stop(75%, #eed700));
    -pie-background: linear-gradient(#ffe709 0%, #eed700 75%);
    /*PIE*/
    behavior: url(/PIE.htc); }
  .status.header.active {
    background-color: #accd0c;
    background: #accd0c;
    background: -moz-linear-gradient(top, #c0e50d 0%, #accd0c 75%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c0e50d), color-stop(75%, #accd0c));
    -pie-background: linear-gradient(#c0e50d 0%, #accd0c 75%);
    /*PIE*/
    behavior: url(/PIE.htc); }
  .status.header.inactive {
    background-color: #eed700;
    background: #eed700;
    background: -moz-linear-gradient(top, #ffe709 0%, #eed700 75%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe709), color-stop(75%, #eed700));
    -pie-background: linear-gradient(#ffe709 0%, #eed700 75%);
    /*PIE*/
    behavior: url(/PIE.htc); }

.table-section-header {
  background: #eee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 0px; }
  .table-section-header.with-actions {
    padding-bottom: 35px; }
  .table-section-header h2 {
    float: left;
    margin-top: 24px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px; }
  .table-section-header .primary-actions {
    float: right;
    margin-top: 24px;
    margin-right: 20px;
    z-index: 2;
    position: relative; }

.selected-item-actions {
  border-radius: 6px 0 0 0;
  behavior: url(/PIE.htc);
  background-color: #f9f9f9;
  background-image: url(/images/with_selection_arrow.png);
  background-repeat: no-repeat;
  background-position: 10px 18px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 6px 0 0 0;
  behavior: url(/PIE.htc);
  margin-top: -38px;
  z-index: 1;
  position: relative;
  margin-left: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 0;
  font-size: 12px;
  line-height: 12px; }
  .selected-item-actions input[type=submit] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    behavior: url(/PIE.htc);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: -2px;
    vertical-align: middle;
    font-size: 12px;
    line-height: 12px;
    height: auto;
    color: #0088cc;
    text-decoration: underline;
    float: none;
    display: inline; }
    .selected-item-actions input[type=submit][disabled=disabled] {
      color: #333; }

div.wysiwyg {
  border-top: 1px solid #999;
  background: #fff url("..//images/editor/jquery.wysiwyg.bg.png") repeat-x top; }

div.wysiwyg * {
  margin: 0;
  padding: 0; }

div.wysiwyg ul.toolbar li.jwysiwyg-custom-command {
  overflow: hidden; }

div.wysiwyg ul.toolbar {
  border-bottom: 1px solid #ccc;
  float: left;
  width: 100%;
  padding: 0; }

div.wysiwyg ul.toolbar li {
  list-style: none;
  float: left;
  margin: 1px 2px 3px 0;
  background: #f0f0f0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  clear: none;
  padding: 0; }

div.wysiwyg ul.toolbar li.separator {
  width: 1px;
  height: 16px;
  margin: 0 4px;
  border-left: 1px solid #ccc; }

div.wysiwyg ul.toolbar li {
  text-indent: -5000px;
  opacity: 0.85;
  filter: alpha(opacity=85);
  display: block;
  width: 16px;
  height: 16px;
  background: url("..//images/editor/jquery.wysiwyg.gif") no-repeat -64px -80px;
  border: 1px dotted #f0f0f0;
  cursor: pointer;
  margin: 0px; }

div.wysiwyg ul.toolbar li.wysiwyg-button-hover, div.wysiwyg ul.toolbar li.active {
  opacity: 1.00;
  filter: alpha(opacity=100);
  border: 1px outset #e0e0e0; }

div.wysiwyg ul.toolbar li.active {
  background-color: #ffff40;
  border: 1px solid #d0d0d0;
  border-left-color: #aaa;
  border-top-color: #aaa;
  margin: 0; }

div.wysiwyg ul.toolbar li.disabled, div.wysiwyg ul.toolbar li.wysiwyg-button-hover.disabled, div.wysiwyg ul.toolbar li.active.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  border: 0px none transparent;
  padding: 1px;
  cursor: auto; }

div.wysiwyg ul.toolbar li.bold {
  background-position: 0 -16px; }

div.wysiwyg ul.toolbar li.italic {
  background-position: -16px -16px; }

div.wysiwyg ul.toolbar li.strikeThrough {
  background-position: -32px -16px; }

div.wysiwyg ul.toolbar li.underline {
  background-position: -48px -16px; }

div.wysiwyg ul.toolbar li.highlight {
  background-position: -48px -96px; }

div.wysiwyg ul.toolbar li.justifyLeft {
  background-position: 0 0; }

div.wysiwyg ul.toolbar li.justifyCenter {
  background-position: -16px 0; }

div.wysiwyg ul.toolbar li.justifyRight {
  background-position: -32px 0; }

div.wysiwyg ul.toolbar li.justifyFull {
  background-position: -48px 0; }

div.wysiwyg ul.toolbar li.indent {
  background-position: -64px 0; }

div.wysiwyg ul.toolbar li.outdent {
  background-position: -80px 0; }

div.wysiwyg ul.toolbar li.subscript {
  background-position: -64px -16px; }

div.wysiwyg ul.toolbar li.superscript {
  background-position: -80px -16px; }

div.wysiwyg ul.toolbar li.undo {
  background-position: 0 -64px; }

div.wysiwyg ul.toolbar li.redo {
  background-position: -16px -64px; }

div.wysiwyg ul.toolbar li.insertOrderedList {
  background-position: -32px -48px; }

div.wysiwyg ul.toolbar li.insertUnorderedList {
  background-position: -16px -48px; }

div.wysiwyg ul.toolbar li.insertHorizontalRule {
  background-position: 0 -48px; }

div.wysiwyg ul.toolbar li.h1 {
  background-position: 0 -32px; }

div.wysiwyg ul.toolbar li.h2 {
  background-position: -16px -32px; }

div.wysiwyg ul.toolbar li.h3 {
  background-position: -32px -32px; }

div.wysiwyg ul.toolbar li.h4 {
  background-position: -48px -32px; }

div.wysiwyg ul.toolbar li.h5 {
  background-position: -64px -32px; }

div.wysiwyg ul.toolbar li.h6 {
  background-position: -80px -32px; }

div.wysiwyg ul.toolbar li.paragraph {
  background-position: 0px -96px; }

div.wysiwyg ul.toolbar li.colorpicker {
  background-position: -16px -96px; }

div.wysiwyg ul.toolbar li.fullscreen {
  background-position: -32px -96px; }

div.wysiwyg ul.toolbar li.cut {
  background-position: -32px -64px; }

div.wysiwyg ul.toolbar li.copy {
  background-position: -48px -64px; }

div.wysiwyg ul.toolbar li.paste {
  background-position: -64px -64px; }

div.wysiwyg ul.toolbar li.insertTable {
  background-position: -64px -48px; }

div.wysiwyg ul.toolbar li.increaseFontSize {
  background-position: -16px -80px; }

div.wysiwyg ul.toolbar li.decreaseFontSize {
  background-position: -32px -80px; }

div.wysiwyg ul.toolbar li.createLink {
  background-position: -80px -48px; }

div.wysiwyg ul.toolbar li.insertImage {
  background-position: -80px -80px; }

div.wysiwyg ul.toolbar li.html {
  background-position: -48px -48px; }

div.wysiwyg ul.toolbar li.removeFormat {
  background-position: -80px -64px; }

div.wysiwyg ul.toolbar li.empty {
  background-position: -64px -80px; }

div.wysiwyg ul.toolbar li.code {
  background-position: -64px -96px; }

div.wysiwyg ul.toolbar li.cssWrap {
  background-position: -80px -96px; }

div.wysiwyg-dialogRow {
  float: left;
  width: 100%;
  font-size: 16px; }

ul.toolbar {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: relative; }

div.wysiwyg iframe {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  clear: left;
  background-color: white;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%; }

/* dialog */
.wysiwyg-dialog {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 450px;
  height: 300px;
  background: transparent;
  font: 14px "Helvetic Neue", Helvetica,Arial,sans-serif; }

.wysiwyg-dialog .wysiwyg-dialog-topbar {
  background: #333;
  border: 1px #111 solid;
  color: white;
  padding: 10px;
  position: relative; }

.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-close-wrapper .wysiwyg-dialog-close-button {
  color: white;
  text-decoration: none;
  display: block;
  padding: 6px 10px;
  position: absolute;
  right: 12px;
  top: 50%;
  height: 14px;
  margin-top: -12px; }

.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-close-wrapper a.wysiwyg-dialog-close-button:hover {
  background: #666; }

.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-title {
  font-size: 20px;
  font-weight: bold;
  padding: 5px; }

.wysiwyg-dialog .wysiwyg-dialog-content {
  border: 1px #ccc solid;
  border-top: 0;
  padding: 15px;
  background: white; }

.wysiwyg-dialog-modal-div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; }

.wysiwyg-dialog-content form.wysiwyg fieldset {
  border: 1px #ccc solid; }

.wysiwyg-dialog-content form.wysiwyg legend {
  padding: 7px; }

.wysiwyg-dialog-content form.wysiwyg .form-row {
  clear: both;
  padding: 4px 0; }

.wysiwyg-dialog-content form.wysiwyg .form-row label, .wysiwyg-dialog form.wysiwyg .form-row .form-row-key {
  display: block;
  float: left;
  width: 35%;
  text-align: right;
  padding: 4px 5px; }

.wysiwyg-dialog-content form.wysiwyg .form-row .form-row-value {
  display: block;
  float: left;
  width: 55%; }

.wysiwyg-dialog-content form.wysiwyg .form-row input.width-auto {
  width: auto; }

.wysiwyg-dialog-content form.wysiwyg input.width-small {
  width: 50px;
  min-width: 50px;
  max-width: 50px; }

.wysiwyg-dialog-content form.wysiwyg input, .wysiwyg-dialog form.wysiwyg select {
  padding: 2px;
  width: 100%;
  margin: 2px; }

.wysiwyg-dialog-content form.wysiwyg input[type=submit], .wysiwyg-dialog form.wysiwyg input[type=reset] {
  padding: 2px 7px;
  width: auto; }

.row-form-inline {
  line-height: 40px; }
  .row-form-inline input {
    text-align: center; }
  .row-form-inline .col-xs-1 {
    text-align: center; }

#agreements .summary-stats {
  margin-top: 30px;
  text-align: center; }
  #agreements .summary-stats .figures {
    position: relative;
    z-index: 100;
    margin-top: -145px;
    margin-bottom: 145px; }
  #agreements .summary-stats .value {
    font-size: 1.5em; }
#agreements .resource-stat.status {
  text-transform: uppercase; }
#agreements .agreement-booking-link {
  float: right; }

#agreements .form-group.cycle-length, #agreements .form-group.num-cycles {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px; }
#agreements #totals {
  font-family: "proxima-nova-soft";
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 40px; }
  #agreements #totals label {
    text-transform: uppercase;
    line-height: 24px; }
  #agreements #totals p {
    margin-right: 50px;
    text-align: right;
    font-weight: bold;
    line-height: 24px; }
  #agreements #totals #total-investment {
    color: #444; }
    #agreements #totals #total-investment p {
      font-size: 24px; }
  #agreements #totals #total-less-discount {
    color: #666; }
    #agreements #totals #total-less-discount p {
      font-size: 20px; }

.content-body.statement .billing-agreement-details {
  margin: 5px 0 20px 0; }
  .content-body.statement .billing-agreement-details img {
    width: 50px; }
  .content-body.statement .billing-agreement-details h2 {
    text-transform: capitalize;
    color: #242424;
    font-size: 18pt;
    font-weight: bold;
    display: inline; }
  .content-body.statement .billing-agreement-details .separator {
    border-left: 1px solid #CDCDCD;
    display: inline;
    margin: 20px; }
  .content-body.statement .billing-agreement-details p#dot {
    font-weight: bold;
    font-size: 16pt;
    color: #CECECE; }
  .content-body.statement .billing-agreement-details .subscription {
    display: inline; }
    .content-body.statement .billing-agreement-details .subscription p, .content-body.statement .billing-agreement-details .subscription span {
      text-transform: uppercase;
      font-size: 9pt;
      display: inline;
      margin-left: 5px; }
    .content-body.statement .billing-agreement-details .subscription span {
      color: #55B846; }
    .content-body.statement .billing-agreement-details .subscription p {
      color: #858585; }
    .content-body.statement .billing-agreement-details .subscription #reference {
      margin-left: 5pt; }
  .content-body.statement .billing-agreement-details .cancel-subscription {
    display: inline;
    float: right;
    margin-top: 10pt; }
.content-body.statement table.account-history {
  margin-bottom: 40px; }
  .content-body.statement table.account-history td {
    line-height: 40px !important; }
  .content-body.statement table.account-history .paid-flag {
    width: 20px;
    padding-top: 5px; }
  .content-body.statement table.account-history td.total, .content-body.statement table.account-history th.total {
    text-align: right;
    font-weight: bold; }
  .content-body.statement table.account-history .action {
    width: 45px;
    padding-left: 10px;
    padding-right: 10px; }
  .content-body.statement table.account-history .item-checkbox, .content-body.statement table.account-history .paid-flag {
    width: 18px;
    padding-left: 10px;
    padding-right: 10px; }
    .content-body.statement table.account-history .item-checkbox input, .content-body.statement table.account-history .paid-flag input {
      margin-left: 0; }
  .content-body.statement table.account-history .payment-date {
    font-weight: bold; }
  .content-body.statement table.account-history .account-history-header {
    text-align: right;
    padding-top: 35px;
    padding-bottom: 15px;
    color: #555;
    text-transform: uppercase; }
  .content-body.statement table.account-history .void-invoice td {
    color: #ccc;
    text-decoration: line-through; }
.content-body.statement .no-items-message {
  line-height: 3em;
  margin: 0; }
.content-body.statement h2.sub-heading {
  text-transform: capitalize;
  color: #242424;
  font-size: 17pt;
  display: block;
  margin: 20px 0; }

#agreements .tab-pane.contract .editor-container {
  margin-bottom: 20px; }
#agreements .tab-pane.contract .cke_combo.cke_format a {
  width: 200px; }
  #agreements .tab-pane.contract .cke_combo.cke_format a .cke_combo_open {
    float: right;
    padding-right: 2px; }
#agreements .tab-pane.contract .token-reference h2 {
  border: none; }
#agreements .tab-pane.contract .token-reference .alert {
  border-radius: 0;
  margin: 0;
  overflow: hidden; }
#agreements .tab-pane.contract .token-reference ul {
  list-style-type: none;
  margin: 0; }
#agreements .tab-pane.contract .token-reference .col {
  width: 260px;
  float: left; }
  #agreements .tab-pane.contract .token-reference .col.left {
    margin-right: 20px;
    width: 300px; }
#agreements .tab-pane.contract span.merge-code {
  background: #eee;
  border: 1px solid #ddd;
  padding: 2px; }

#agreements .preview .content {
  margin: -25px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  background-color: #f8fbe2; }
#agreements .preview .preview-banner {
  text-align: center;
  padding: 10px;
  margin: 0; }
#agreements .preview iframe {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%; }
#agreements .preview .alert {
  border: none;
  font-size: 1.8em;
  line-height: 2.5em; }

#agreements .content-body .alert h2 {
  font-size: 18px;
  margin-bottom: 20px; }
#agreements .content-body .alert h3 {
  margin-top: 20px;
  margin-bottom: 10px; }
#agreements .content-body .alert .actions {
  padding: 20px;
  text-align: center; }
  #agreements .content-body .alert .actions a {
    display: inline-block;
    margin-right: 10px; }
#agreements .content-body .alert .proposal-link {
  border-radius: 6px;
  behavior: url(/PIE.htc);
  background: #f6f6f6;
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 75%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(75%, #f6f6f6));
  -pie-background: linear-gradient(white 0%, #f6f6f6 75%);
  /*PIE*/
  behavior: url(/PIE.htc);
  border: 1px solid #ddd;
  padding: 0; }
  #agreements .content-body .alert .proposal-link input {
    background: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    width: 400px;
    margin: 8px;
    margin-right: 20px; }
  #agreements .content-body .alert .proposal-link a {
    font-weight: bold; }
#agreements .acceptance {
  background-color: #f6f6f6;
  border-radius: 0 0 10px 10px;
  behavior: url(/PIE.htc);
  border-top: 1px solid #ddd;
  padding: 40px; }
  #agreements .acceptance .signoff {
    text-align: center; }
    #agreements .acceptance .signoff input {
      display: inline-block;
      margin-top: 20px; }
#agreements .form-actions.agreement-preview .btn.btn-warning {
  float: left; }

#agreements .content-body.index table td:last-child {
  width: 30px;
  padding-left: 20px;
  padding-right: 20px; }

#agreements .content-body.new #contact_name {
  position: relative; }
#agreements .content-body.new .spinner {
  position: absolute;
  top: 5px;
  right: 20px; }

#agreements .edit .summary {
  min-height: 80px; }
#agreements .edit .tabs-container {
  margin-top: 0; }
#agreements .edit .action-buttons {
  padding: 20px;
  padding-top: 0; }
#agreements .edit .summary .alert {
  margin-bottom: 0; }
#agreements .edit #booking-details .control-group {
  margin-bottom: 5px; }
  #agreements .edit #booking-details .control-group .control-label {
    display: block;
    float: none;
    font-size: 16px; }
  #agreements .edit #booking-details .control-group p.note {
    margin-left: 0; }
#agreements .edit #booking-details .descriptive-fields {
  overflow: hidden; }
#agreements .edit #booking-details .control-group.availability {
  float: right;
  width: 220px;
  border-left: 1px dashed #ddd;
  padding-left: 20px; }
  #agreements .edit #booking-details .control-group.availability p {
    width: auto; }
  #agreements .edit #booking-details .control-group.availability .control-group input {
    margin-top: -2px; }
  #agreements .edit #booking-details .control-group.availability .control-group label {
    display: inline-block;
    padding-left: 5px; }
#agreements .edit #booking-details .field input[type=text], #agreements .edit #booking-details .field textarea {
  width: 340px; }
#agreements .edit #booking-details .field textarea {
  height: 120px; }
#agreements .edit #agreement_session_length_hours,
#agreements .edit #agreement_session_length_minutes,
#agreements .edit #agreement_foundation_session_length_hours,
#agreements .edit #agreement_foundation_session_length_minutes {
  width: 104px; }
#agreements .edit .tab-pane {
  background-color: #f6f6f6;
  border-bottom: 1px solid #ddd; }
  #agreements .edit .tab-pane h2 {
    border-top: 1px solid #ccc;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; }
#agreements .edit .control-group p.note {
  margin-left: 140px;
  width: 400px; }
#agreements .edit .alert-info p {
  margin: 0; }
#agreements .edit #billing-structure.tab-pane.padded {
  padding-left: 40px; }
  #agreements .edit #billing-structure.tab-pane.padded h2 {
    margin-left: -40px;
    padding-left: 40px; }
  #agreements .edit #billing-structure.tab-pane.padded .fieldset-title {
    position: relative; }
    #agreements .edit #billing-structure.tab-pane.padded .fieldset-title input[type=checkbox] {
      position: absolute;
      top: 20px;
      left: -27px; }
  #agreements .edit #billing-structure.tab-pane.padded input {
    text-align: right;
    font-size: 18px; }
  #agreements .edit #billing-structure.tab-pane.padded fieldset {
    width: 400px; }
  #agreements .edit #billing-structure.tab-pane.padded #totals {
    border-top: 1px solid #ccc;
    margin-left: -40px;
    margin-right: -20px;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 10px; }
    #agreements .edit #billing-structure.tab-pane.padded #totals label {
      text-transform: uppercase; }
    #agreements .edit #billing-structure.tab-pane.padded #totals p {
      text-align: right;
      font-weight: bold;
      width: 355px;
      font-size: 24px;
      line-height: 24px; }
    #agreements .edit #billing-structure.tab-pane.padded #totals #total-investment, #agreements .edit #billing-structure.tab-pane.padded #totals #total-less-discount {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: -40px;
      margin-right: -20px;
      padding-left: 40px; }
    #agreements .edit #billing-structure.tab-pane.padded #totals #total-investment {
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 10px; }
    #agreements .edit #billing-structure.tab-pane.padded #totals #total-less-discount {
      color: #555; }
      #agreements .edit #billing-structure.tab-pane.padded #totals #total-less-discount p {
        font-size: 20px;
        line-height: 20px; }
#agreements .edit #agreement-terms.tab-pane .include-terms {
  padding: 10px;
  font-weight: bold; }
  #agreements .edit #agreement-terms.tab-pane .include-terms input[type=checkbox] {
    margin-top: -2px;
    margin-right: 5px; }
#agreements .edit #agreement-terms.tab-pane div.wysiwyg iframe {
  height: 550px; }
#agreements .edit #agreement-terms.tab-pane .token-reference h2 {
  border: none; }
#agreements .edit #agreement-terms.tab-pane .token-reference .alert {
  border-radius: 0;
  margin: 0;
  overflow: hidden; }
#agreements .edit #agreement-terms.tab-pane .token-reference ul {
  list-style-type: none;
  margin: 0; }
#agreements .edit #agreement-terms.tab-pane .token-reference .col {
  width: 260px;
  float: left; }
  #agreements .edit #agreement-terms.tab-pane .token-reference .col.left {
    margin-right: 20px;
    width: 300px; }
#agreements .edit #coaching-structure p.note, #agreements .edit #billing-structure p.note {
  display: none;
  position: absolute;
  margin-left: 380px !important;
  margin-top: -45px;
  padding: 10px;
  padding-right: 20px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  width: 220px !important;
  z-index: 100; }
#agreements .edit #coaching-structure .field, #agreements .edit #billing-structure .field {
  position: relative; }
  #agreements .edit #coaching-structure .field:hover p.note, #agreements .edit #billing-structure .field:hover p.note {
    display: block; }

.section-coaching .payment-options {
  width: 270px;
  border-left: 1px dashed #ccc;
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  float: right; }
  .section-coaching .payment-options .option {
    padding-bottom: 10px; }
    .section-coaching .payment-options .option p {
      margin: 0;
      margin-left: 25px;
      margin-top: -20px;
      font-weight: bold;
      line-height: 24px; }
  .section-coaching .payment-options .or {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 20px; }
    .section-coaching .payment-options .or p {
      width: 40px;
      margin: auto;
      background-color: #ffc;
      margin-top: -30px;
      font-style: italic;
      text-align: center; }
  .section-coaching .payment-options input[type=radio] {
    display: inline;
    float: none; }
  .section-coaching .payment-options label {
    font-size: 16px;
    display: inline;
    float: none;
    font-weight: bold; }

/*# sourceMappingURL=agreements.css.map */
