.revenue-chart-container {
  position: relative; }
  .revenue-chart-container #revenue-chart {
    height: 250px;
    width: 100%; }
  .revenue-chart-container .chart-spinner {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -12px;
    top: 100px; }

.dashboard-list-item {
  overflow: hidden;
  position: relative; }

.no-revenue-message {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  color: #444;
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 80px; }

.summary-status.label {
  width: 80px; }
  .summary-status.label a {
    color: white; }

.total-row {
  font-weight: bold; }
  .total-row th {
    text-align: right; }

.panel-heading {
  font-weight: bold; }

.panel {
  min-height: 180px; }

.payer-details .client-name,
.biller-details .business-name,
.biller-details .tax-number {
  font-weight: bold; }

table .amount {
  width: 20%; }
  table .amount input {
    text-align: right; }

table .hint {
  width: 100px; }

.schedule-for {
  margin-top: 20px;
  margin-bottom: 20px; }

.index .filters {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 5px; }
  .index .filters .col-sm-2 {
    padding-left: 5px;
    padding-right: 5px; }
    .index .filters .col-sm-2:first-child {
      padding-left: 10px; }
    .index .filters .col-sm-2:last-child {
      padding-right: 10px; }
.index .stats {
  border: none;
  margin-bottom: 25px;
  margin-top: 25px; }
  .index .stats .resource-stat {
    border: none; }
    .index .stats .resource-stat.export {
      border-left: 1px solid #ddd; }
.index .table-container {
  margin-left: -25px;
  margin-right: -25px; }
.index .no-matches {
  color: #666;
  text-align: center;
  font-size: 2em;
  margin-top: 2em; }
.index .table {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin-top: 0; }
  .index .table .invoice-row.void td, .index .table .invoice-row.void .client-name a, .index .table .invoice-row.void .invoice-number a {
    color: #ccc;
    text-decoration: line-through; }
  .index .table .client-name,
  .index .table .invoice-payment-date,
  .index .table .invoice-outstanding,
  .index .table .invoice-status {
    border-right: 1px solid #ddd; }
  .index .table td {
    vertical-align: middle; }
  .index .table tr td:first-child {
    padding-left: 10px; }
  .index .table tr td:last-child {
    padding-right: 10px; }
  .index .table .invoice-number {
    text-align: center; }

#billing-income_summary .filter {
  margin-top: 10px;
  margin-bottom: 30px; }
  #billing-income_summary .filter form {
    width: 490px;
    margin: auto; }
#billing-income_summary .year-select {
  width: 80px; }
#billing-income_summary .month-select {
  width: 120px; }
#billing-income_summary table.income-summary a {
  font-weight: bold; }
#billing-income_summary table.income-summary .invoiced, #billing-income_summary table.income-summary .received, #billing-income_summary table.income-summary .tax1, #billing-income_summary table.income-summary .tax2 {
  width: 90px;
  text-align: center; }
#billing-income_summary table.income-summary .received {
  background-color: #f0f6f9; }
#billing-income_summary table.income-summary td, #billing-income_summary table.income-summary th {
  padding-right: 0;
  padding-left: 0; }
#billing-income_summary table.income-summary th.received {
  border-radius: 5px 5px 0 0;
  behavior: url(/PIE.htc); }
  #billing-income_summary table.income-summary th.received.net {
    border-radius: 5px 5px 0 0;
    behavior: url(/PIE.htc); }
#billing-income_summary table.income-summary .total .received {
  border-radius: 0 0 5px 5px;
  behavior: url(/PIE.htc); }
  #billing-income_summary table.income-summary .total .received.net {
    border-radius: 0 0 5px 5px;
    behavior: url(/PIE.htc); }
#billing-income_summary table.income-summary .total td {
  font-weight: bold;
  font-size: 14px; }
#billing-income_summary table.income-summary tr:last-child td {
  border-bottom: none; }

/*# sourceMappingURL=billing.css.map */
